# ── Firebase Authentication ──
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyA4IB3HTMNLCd_kb6P05-IihBsKbLXBOlw
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=devflow-b623c.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=devflow-b623c
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=devflow-b623c.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=976767615461
NEXT_PUBLIC_FIREBASE_APP_ID=1:976767615461:web:73eac0935e1e8c779cef0c
NEXT_PUBLIC_MEASUREMENT_ID=G-PGPLWV8H15

# ── API Backend (Java / Spring Boot) ──
NEXT_PUBLIC_API_URL=http://localhost:8080

# ── Supabase PostgreSQL ──
NEXT_PUBLIC_SUPABASE_URL=https://qoywkcibgklnaikpmcnh.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_b7FW6YHf1H9RN6YMEY1wug_I92DI9y_

# ── Demo Mode (set false when Firebase is configured) ──
NEXT_PUBLIC_DEMO_MODE=false
