# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# system / logs / temporary files
*.log
.dev-server*
.start-server*
.preview*
.tmp-video-frames/
.video-frames/
preview*.png
/PeachWeb.html
/PeachWeb_files/
